{% extends 'base.html.twig' %}

{% block title %}
  Modifier mon mot de passe
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ asset('styles/form.css') }}">
  <div class="form">
    <div class="title">
<h1>
	Modifier mon mot de passe
</h1>
<a href="{{ path('account') }}">Retourner à mon espace perso</a>

</div>


{% if notification %}
<div class="notification">
  <p>{{notification}}</p>
</div>
{% endif %}
{{ form(form) }}

  </div>
{% endblock %}
