{% extends 'base.html.twig' %}

{% block title %}Welcome to Creeptee{% endblock %}

{% block content %}
            <main>
            <div class="hero home">
                <h1>
                Welcome to Creeptee
                </h1>
                <h3>Play basics games, make bigger gains</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Video-Game-Controller-Icon-IDV-green.svg/249px-Video-Game-Controller-Icon-IDV-green.svg.png?20160315171030">
            </div>
            <div class="container home">
                <div class="text home">
                    <h1>Play basics games, make bigger gains</h1>
                    <p>Want to make money ? Want to play too ? 
                    Here is your dream : Enjoy basics games with simples objectives and earn cryptos while playing</p>
                </div>
                <iframe src="https://embed.lottiefiles.com/animation/18378"></iframe>
            </div>
{% endblock %}