{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block content %}
<div class="games-page">

    <h1 class="title">Jouez maintenant et remportez vos gains !</h1>

    <div class="games-container">
        <div class="game-item"></div>
        <div class="game-item"></div>
        <div class="game-item"></div>
        <div class="game-item"></div>
    </div>
    
</div>
{% endblock %}
