{% extends 'base.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block content %}
  <div class="form">
    <h1>
      Inscription à Creeptee
    </h1>

    {{ form(form) }}
  </div>
{% endblock %}
