{% extends 'base.html.twig' %}

{% block title %}

  Inscription
{% endblock %}

{% block content %}
<link rel='stylesheet' href=" {{ asset('styles/form.css') }}">
  <div class="form-page">
      <div class="form">
              <h1>
          Inscription à Creeptee
        </h1>

        {{ form(form) }}
      </div>
  </div>
{% endblock %}
