.form h1 {
    color: var(--font-color);
}
body {
    background-color: var(--main-color);
    
}

.form {
    background-color: var(--main-color);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    padding: 100px;
    margin: 50px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.226);
    transition: .8s;
}
.form:hover {
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.226);
    transition: .8s;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.form-group * {
    margin: 12px;
}
form input {
    padding: 10px;
    width: 40vw;
    color: var(--main-color);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.301);
}
.form-group label {
    color: var(--font-color);
}
.form-group button {
    padding: 10px;
    align-items: center;
    border: 2px solid var(--button-color);
    background-color: var(--main-color);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 0px 3px -5px;
    color: var(--button-color);
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: var(--font-S);
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 200px;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    text-transform: uppercase;
    font-weight: bold;
}

.form-group button:hover {
    background-color: var(--main-color);
    color: var(--font-color);
    transition: .3s;
}