.form-registration {
    background-color: var(--second-color);
    margin: 15px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    padding: 100px;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.form-group * {
    margin: 6px;
}
form input {
    padding: 10px;
    color: var(--font-color);
}
.form-group button {
    padding: 0 25px 0 25px;
    font-size: var(--font-M);
    text-align: center;
}