/* CSS Variables */
:root {
    --main-color: #1e272e;
    --second-color: white;
    --font-color: #333;
    
    --font-XL: 34px;
    --font-L: 30px;
    --font-M: 26px;
    --font-S: 20px;
    --font-XS: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, main, footer {
    width: 90vw;
}

header {
    background-color: white;
    height: auto;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.363);
}
header .nav-ul, header .account-block {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px;
    font-size: var(--font-S);
    color: var(--font-color);
}

header .nav-ul li, header .account-block button {
    margin: 10px;
}

header .account-block button {
    padding: 5px;
    align-items: center;
    border: 2px solid var(--main-color);
    background-color: var(--second-color);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 0px 3px -5px;
    color: var(--main-color);
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: var(--font-XS);
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    text-transform: uppercase;
    font-weight: bold;
}

header .account-block button:hover {
    background-color: var(--main-color);
    color: var(--second-color);
    transition: .3s;
}


main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-home {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    width: 50vw;
}
.text h1 {
    font-size: var(--font-M);
}

.games-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.game-items {
    width: 150px;
    height: 150px;
    background-color: #1E272E;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.418);
    margin: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 5vh;
    font-size: var(--font-M);
    color: var(--font-color);
    border-radius: 10px 10px 0 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}