/* CSS Variables */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Silkscreen&display=swap');

:root {
    --main-color: #2a2a3b;
    --second-color: #F09666;
    --font-color: #FFF;
    --button-color: #f09666;

    --ff-primary: 'Silkscreen', cursive;
    --ff-secondary: 'Roboto', sans-serif;
    --font-XL: 34px;
    --font-L: 30px;
    --font-M: 26px;
    --font-S: 20px;
    --font-XS: 15px;
}
* {
    font-family: var(--ff-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

header, main, footer {
    width: 90vw;
}

header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    width: 100vw;
    z-index: 999;
    padding: 40px;
}
header .fa-icon {
    display: none;
    transition: .5s;
}
.account-buttons {
    display: flex;
}
header .nav-ul, header h1, header .account-buttons {

    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px;
    font-size: var(--font-S);
    color: var(--font-color);
}
.nav-ul {
    font-family: var(--ff-primary);
    display: flex;
}
header .nav-ul li:not(:nth-child(4)), .footer-container ul li:not(:nth-child(3)) {
    border-right: 2px solid var(--second-color);
}
header .nav-ul li, .footer-container ul li {
    padding: 0 20px 0 20px;
}

header .account-buttons button {
    margin: 10px;
}
header .title-creeptee {
    font-size: var(--font-XL);
}

header .account-buttons button {
    align-items: center;
    border: 2px solid var(--button-color);
    background-color: var(--second-color);
    border-radius: 2px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 0px 3px -5px;
    color: var(--font-color);
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: var(--font-XS);
    justify-content: center;
    line-height: 1em;
    padding: 10px 25px;
    letter-spacing: .02em;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    text-transform: uppercase;
    font-weight: bold;
}

header .account-buttons button:hover {
    background-color: var(--main-color);
    color: var(--font-color);
    transition: .3s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-buttons {
    overflow-x: hidden;
}

.logout {
    transform: translateY(-80px);
    opacity: 0;
    transition: .3s;
}
.client:hover .logout {
    transform: translateY(0);
    opacity: 100;
    transition: .3s;
}


.overlay {
    margin: -5px;
    width: 100vw;
    clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.hero-home {
    height: 70vh;
    width: 75%;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    color: var(--font-color);
}
.hero-home .title h1 {
    font-size: 55px;
    font-weight: bold;
    width: 80%;
}
.hero-home p {
    margin-top: 15px;
    width: 95%;
    font-size: var(--font-M)
}
.hero-home img {
    margin-bottom: 100px;
    border-radius: 50%;
    width: 400px;
}

.hero-subtitle {
    margin-left: 250px;
}

.feature-home, .feature2-home {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.feature-home {
    flex-direction: column;
    height: 90vh;
}
.feature-home h1 {
    color: var(--main-color);
}
.feature2-home h1 {
    color:var(--font-color);
}
.feature-home h1, .feature2-home h1 {
    width: 60%;
    text-align: center;
    margin: 20px;
}
.feature2-home {
    height: 60vh;
    background-color: var(--main-color);
    clip-path: polygon(0 0,100% 20%,100% 100%,0 100%);

}
.client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.feature2-home img {
    width: 20%;
    border-radius: 50%;
}
.feature4-home {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}
.testimonial-card img {
    width: 50%;
    border-radius: 50%;
}
.testimonial-card div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0px 20px 0px 20px;
    padding: 10px;
}
.testimonial-card div p {
    width: 70%;
    margin-left: 20px;
}
.testimonial-card div span {
    font-size: 50px;
}
.account-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 70vh;
}

.account-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;

}
.user-card {
    width: 80%;
    font-size: var(--font-L);
    margin: 30px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
        flex-direction: column;
}
.user-info a {
    display: flex;
}
.client img {
    border-radius: 50%;
    width: 50px;
}

.menu-card {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}
.games-page .title {
    margin: 20px;
}

.games-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-item {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.game-item .desc {
    width: 400px;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;

}
.game-item .thumbnail {
    width: 400px;
    height: 400px;
    border-radius: 30px;
    filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.192));
    transition: .7s;
}
.game-item:hover {
    filter: drop-shadow(0 0 10px rgba(51, 51, 51, 0.151));
    transition: .7s;
    transform: translateY(5px) scale(1.05);
}
.game-item h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 111;
    height: 7vh;
    border-radius: 30px;
}
.games-container {
    display: flex;
}
.footer-container ul {
    display: flex;
    list-style-type: none;
}

footer {
    height: 15vh;
    width: 100vw;
    font-size: var(--font-S);
    color: var(--font-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}