@media screen and (max-width: 1000px) {
    header .account-buttons {
        margin-left: 30px;
    }
    .hero-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-home .title h1 {
        width: 100%;
    }
    .hero-home img {
        width: 60%;
        margin: 40px;
    }
    .feature-home {
        margin: 100px;
    }
    .feature2-home img {
        display: none;
    }
    .feature4-home {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 120px;
    }
    .feature4-home img {
        width: 40%;
    }
    header {
        justify-content: center;
        padding: 20px;
    }
    header .fa-icon {
        display: block;
    }
    header .fa-burger-active {
        transform: rotate(180deg);
        transition: .5s;
    }
    header .fa-user-active {
        transform: rotateY(180deg);
        transition: .5s;
    }
    
    .account-buttons {
        display: none;
    }
    .nav-ul {
        display: none;
    }

    .client {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .fa-icon {
        color: white;
    }
    footer {
        padding: 50px;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .client-menu-active {
        display: flex;
        
    }
    .user-info-active {
        display: block!important;
    }
    .header-active {
        height: auto;
        flex-direction: column;
    }

    .burger-container-inactive {
        display: none;
    }
    .user-info {
        display: none;
    }
    .user-info-active a {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .nav-ul-active {
        display: flex;
        margin: 0;
    }
    .burger-container-active {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .games-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    header .nav-ul {
        margin-right: 0;
    }
    header .nav-ul li {
        margin: 5px;
        padding: 5px;
    }
    .nav-ul-active {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-home .title h1 {
        font-size: 40px;
    }
    .hero-home .title p {
        font-size: 19px;
    }
    .hero-home img {
        width: 100%;
    }
    .feature-home h1 {
        font-size: 25px;
    }
    .feature-home {
        margin-top: 100px;
        margin-bottom: 00px;
    }
    .feature2-home {
        padding-top: 60px;
    }
    .feature4-home {
        padding: 10px;
    }
    .testimonial-card div {
        border-bottom: none;
    }
    .testimonial-card div span {
        display: none;
    }
    .testimonial-card {
        text-align: center;
        margin: 50px;
    }
    .footer-container ul {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px;
    }
    header .nav-ul li:not(:nth-child(5)), .footer-container ul li:not(:nth-child(4)) {
        border-right: none;
        border-bottom: 1px solid #F09666;
    }
    .footer-container ul li {
        margin: 5px;
        padding: 5px;
    }
    .footer-container h2 {
        font-size: var(--font-M);
    }
}